<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>res_game_206</key>
        <real>1.0000000000000000</real>
        <key>res_game_202</key>
        <real>1.0000000000000000</real>
        <key>res_game_516</key>
        <real>1.0000000000000000</real>
        <key>res_game_140</key>
        <real>1.0000000000000000</real>
        <key>res_game_122</key>
        <real>10.0000000000000000</real>
        <key>res_game_36</key>
        <real>2.0000000000000000</real>
        <key>res_game_511</key>
        <real>7.0000000000000000</real>
        <key>res_client</key>
        <real>13.0000000000000000</real>
        <key>res_game_389</key>
        <real>2.0000000000000000</real>
    </dict>
</plist>
