*.d
*.o
*.tlog
*.obj
*.opensdf
*.pdb
*.so
*.log
*.suo
*.udf
*.sdf
*.ilk
*.idb
*.exp
*.exe
obj
client_publish
assets
armeabi-v7a
downrec
saverec
log
Debug.win32
*.zip
Bugly
JftMergeSDK
.vs
GloryProject.vcxproj
/run
备份
/client/user_gameconfig.plist
/client/UserDefault.xml
/client/version.plist
/client.config
GloryProject.VC.VC.opendb
GloryProject.VC.db
