<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\app\run\debug\win32\GloryProject.exe</StartProgram>
    <StartArguments>E:\app\client</StartArguments>
    <StartWorkingDirectory>E:\app\client</StartWorkingDirectory>
  </propertyGroup>
</Project>